# /* SI AGREGAN VARIABLES DE ENTORNO, DOCUMENTENLAS ACA PARA QUE CADA UNO PUEDA
#    TENERLAS EN SU REPOSITORIO LOCAL, EN " .env  " */
   
## app
PORT=3000
ALTERNATIVE_PORT=3080

## base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=213454
DB_NAME=hotelify

## conexion a API
API_KEY=j1OZIf2t7sFf1IhYOtiss3gwWS1yQ3DG
API_SECRET=Q1NMkOUTBMgIyLN5

## COHERE
COHERE_API_KEY=clxd1iJQaz8C9BgBZglnriKeg2FSPe7jQsQ5HqF4

## JWT
JWT_SECRET=secretsecretjwt

## CLOUDINARY
CLOUDINARY_CLOUD_NAME=dln87ugim
CLOUDINARY_API_KEY=892655315637687
CLOUDINARY_API_SECRET=tBXfZ5s6SwNqcFnUWTvEfppZJTc

## NODEMAILER
NODEMAILER_HOST=smtp.ethereal.email
NODEMAILER_PORT=587
NODEMAILER_USER=pietro.kohler53@ethereal.email
NODEMAILER_PASS=eZY14zF3xy24S2gqBe

## CONEXION CON FRONT, PARA HABILITAR CORS
URL_FRONT=http://localhost:3001,http://localhost:3000,http://localhost:3002



## DATABASE EN RENDER:
RENDER_DB_HOST=dpg-cstrfulds78s73e1u8og-a
RENDER_DB_PORT=5432
RENDER_DB_NAME=backend_hotelify
RENDER_DB_USERNAME=backend_hotelify_user
RENDER_DB_PASSWORD=D9ww1xP4xrALA1aFb7Pse4uq244oxsYR